<div class="nav-bar" id="top-nav">
  <h1>Tonnetz</h1>
  <p class="divider">|</p>

  <div class="nav-options">
      <a href="/">Visualization</a>
      <a href="/explain-music.html">Music Explanation</a>
      <a href="/explain-code.html">Code Explanation</a>
      <a href="/instructions.html">Instructions</a>
      <a href="/about.html">About</a>
  </div>

  <a href="javascript:void(0);" class="icon" onclick="toggleMobileBar()">
    <p>☰</p>
  </a>
</div>
