<div class="nav-bar" id="top-nav">
  <h1>Tonnetz</h1>
  <p class="divider">|</p>

  <div class="nav-options">
      <a href="/">Visualization</a>
      <a href="/explain">Explanation</a>
      <a href="/about">About</a>
  </div>

  <a href="javascript:void(0);" class="icon" onclick="toggleMobileBar()">
    <p>☰</p>
  </a>
</div>
